//includeConfig 'experiment.config'

manifest.version = '2.3.1'

/*
** DKFZ cluster settings
*/
profiles {
  dkfz {
    process {
      beforeScript =  '. /etc/profile.d/modules.sh'
      executor = "lsf"
      errorStrategy = "finish"
      maxForks = 20
      queue = "long"
      clusterOptions = ""
      scratch = '$SCRATCHDIR/$LSB_JOBID'

      withName: generate_sheets {
        memory = '1 GB'
      }

      withName: check_sample_sheet {
        memory = '1 GB'
      }

      withName: make_sample_sheet {
        memory = '1 GB'
      }

      withName: bcl2fastq {
        module = 'modules:modules-init:modules-gs:gmp/6.1.2:mpfr/4.0.1:mpc/1.1.0:gcc/8.1.0:bcl2fastq/2.20'
        penv = 'serial'
      }

      withName: seg_sample_fastqs {
        cpus = 8
        memory = '1 GB'
        penv = 'serial'
      }

      withName: demux_dash {
        memory = '8 GB'
      }

      withName: run_recovery {
        memory = '4 GB'
      }

      withName: sum_recovery {
        memory = '4 GB'
      }

    }
    executor {
      name = 'lsf'
      perTaskReserve = false
      perJobMemLimit = true
    }
  }
}